* {
  box-sizing: border-box;
}
body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 32px;
  margin: 15px;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin: auto;
  text-align: center;
}

ol#squads {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  list-style: decimal;
  color: #ffffff;
}

ol#squads li {
  width: 300px;
  border: 2px solid #1c1c1c;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
ol#squads li h2 {
  background-color: #ffffff;
  color: #1c1c1c;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
button.button {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #1c1c1c;
  font-weight: bold;
  transition: 0.2s;
  background-color: #ffffff;
}

button.button:hover {
  width: 205px;
  height: 55px;
}

button.button:active {
  width: 200px;
  height: 50px;
}

#textarea {
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  outline: none;
}

#buttons {
  width: 80%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 100px;
}
